<%= form_for(shift) do |f| %>
  <% if shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :role_id %>
    <%= f.number_field :role_id %>
  </div>

  <div class="field">
    <%= f.label :associate_id %>
    <%= f.number_field :associate_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
