<p id="notice"><%= notice %></p>

<p>
  <h1>Hi
    <%= (Associate.find_by employee_id: @shift.employee_id).first_name %> <%= (Associate.find_by employee_id: @shift.employee_id).last_name %>!
  </h1>
</p>

<p>
  <h1>Today you will be a
    <%= Role.find(@shift.role_id).name %>
  </h1>
</p>


<%= simple_form_for(@shift2) do |f| %>
  <% if @shift2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shift2.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% @shift2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :employee_id, label: 'Scan your badge', :autofocus => true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
