
<%= link_to "Show all assignments", shifts_path, class: "btn btn-primary" %>
<%= link_to "Create Shift Plan", new_shift_plan_path, class: "btn btn-primary" %>
<p>
  <% if PlannedRole.exists?(employee_id: @shift.employee_id) %>
    <h1>Hi
      <%= (Associate.find_by employee_id: @shift.employee_id).first_name %> <%= (Associate.find_by employee_id: @shift.employee_id).last_name %>!
    </h1>

    <p>
      <h1>Today you will be a
        <%= Role.find(@shift.role_id).name %>
      </h1>
    </p>
  <% else %>
    <h1>
      You have not been assigned a role yet.  Please speak to your manager.
    </h1>
  <% end %>
</p>

<div class="container center_div">
  <%= simple_form_for(@shift2) do |f| %>
    <% if @shift2.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(shift2.errors.count, "error") %> prohibited this shift from being saved:</h2>

        <ul>
        <% @shift2.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.input :employee_id, label: false, :autofocus => true %>
    </div>

    <!-- <div class="actions">
      <%= f.submit %>
    </div> -->
  <% end %>
</div>