<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @shift.role_id %>
</p>

<p>
  <strong>Associate:</strong>
  <%= (Associate.find_by employee_id: @shift.employee_id).first_name %> <%= (Associate.find_by employee_id: @shift.employee_id).last_name %>
--  <%= @shift.employee_id %>
</p>

<%= link_to 'Edit', edit_shift_path(@shift) %> |
<%= link_to 'Back', shifts_path %>
