<%= simple_form_for(planned_role) do |f| %>
  <% if planned_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(planned_role.errors.count, "error") %> prohibited this planned_role from being saved:</h2>

      <ul>
      <% planned_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="dropdown" >
    <%= f.input :associate_id, collection: Associate.all, label_method: :full_name,:value_method => :id, label: "Associate" %>
  </div>

  <div class="field">
    <%= f.input :role_id, collection: Role.all, label_method: :name,:value_method => :id  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
