<%= simple_form_for(@shift_plan) do |f| %>
  <%= f.error_notification %>

  <h3>Current Assignments:</h3>
  <div id='planned_roles'>
    <%= f.simple_fields_for :planned_roles do |planned_role| %>
      <%= render 'planned_role_fields', :f => planned_role %>
    <% end %>
    <div class='planned_roles'>
      <%= link_to_add_association 'add a new assignment', f, :planned_roles, class: "btn btn-default"%>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>