<%= simple_form_for(@shift_plan) do |f| %>
  <% if @shift_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift_plan.errors.count, "error") %> prohibited this shift plan from being saved:</h2>
      <ul>
      <% @shift_plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Current Assignments:</h3>
  <div id='planned_roles'>
    <%= f.simple_fields_for :planned_roles do |planned_role| %>
      <%= render 'planned_role_fields', :f => planned_role %>
    <% end %>
    <div class='planned_roles'>
      <%= link_to_add_association 'add a new assignment', f, :planned_roles, class: "btn btn-default"%>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>