<p id="notice"><%= notice %></p>

<h1>Shift Plans</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shift_plans.each do |shift_plan| %>
      <tr>
        <td><%= shift_plan.name %></td>
        <td><%= link_to 'Show', shift_plan %></td>
        <td><%= link_to 'Edit', edit_shift_plan_path(shift_plan) %></td>
        <td><%= link_to 'Destroy', shift_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shift Plan', new_shift_plan_path %>
