<h1>
  Checked-In Associates -- <%= @shift_actual.date.strftime("%A, %b %d")%>
</h1>
<p>
  <%= link_to "View the Plan", planned_roles_path, class: "btn btn-primary" %>
  <%= link_to "Change the Plan", edit_shift_plan_path(@shift_plan), class: "btn btn-success" %>
  <%= link_to "Admin", rails_admin.dashboard_path, class: "btn btn-secondary" %>
  <%= link_to "Back to Home Page", root_path, class: "btn btn-secondary" %>
</p>

<div class="row">
  <div class="col-sm-6">
    <div class="chart-wrapper">
      <div class="chart-title background-orange">
        Packers
      </div>
      <div class="chart-stage">
       <table class='table leader-list'>
         <tr>
          <th></th>
          <th>Name</th>
          <th>Location</th>
          <th>Badge No.</th>
         </tr>

         <% @shifts.where(role_id: 8).order(updated_at: :desc).each_with_index do |assignment, i| %>
           <tr>
             <td><%= i + 1 %></td>
             <td><%= link_to truncate((Associate.find_by employee_id: assignment.employee_id).full_name, length: 14), '#' %></td>
             <td>
               <% if assignment.location_id? %>
                 <%= Location.find(assignment.location_id).name %>
               <% end %>
             </td>
             <td><%= assignment.employee_id %></td>
           </tr>
         <% end %>
       </table>
      </div>
      <div class="chart-notes">
        These are the Packers who have checked in
      </div>
    </div>
  </div>
<div class="col-sm-6">
<!-- Recently Updated cases -->
<% Role.where(id: [9..21]).each do |role| %>
  <div class="col-sm-12">
    <div class="chart-wrapper">
      <div class="chart-title background-orange">
        <%= role.name %>
      </div>
      <div class="chart-stage">
       <table class='table leader-list'>
         <tr>
          <th></th>
          <th>Name</th>
          <th>Location</th>
          <th>Badge No.</th>
         </tr>

         <% @shifts.where(role_id: role.id).order(updated_at: :desc).each_with_index do |assignment, i| %>
           <tr>
             <td><%= i + 1 %></td>
             <td><%= link_to truncate((Associate.find_by employee_id: assignment.employee_id).full_name, length: 14), '#' %></td>
             <td>
               <% if assignment.location_id? %>
                 <%= Location.find(assignment.location_id).name %>
               <% end %>
             </td>
             <td><%= assignment.employee_id %></td>
           </tr>
         <% end %>
       </table>
      </div>
      <div class="chart-notes">
        These are the <%= role.name %>s who have checked in
      </div>
    </div>
  </div>
<% end %>
</div>

<%= link_to 'Change the Plan', edit_shift_plan_path(@shift_plan) %> |
<%= link_to 'Back', shift_plans_path %>
